<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="orange">

    <a href="/student/home"> Home</a>
    <a href="/student/about"> About</a>
    <a href="/student/services"> Services </a>
    <a href="/student/gallery"> Gallery </a>
    <a href="/student/placement"> Placement </a>
    <a href="/student/join"> Join </a>
    <a href="/student/contact"> Contact us </a>
    <hr/>

    <h1>Welcome to Gallery Page</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque quas ex deleniti laudantium sunt, quis mollitia perspiciatis perferendis aut, ipsam maiores deserunt accusantium nulla dicta? Ducimus voluptate ullam fugit consectetur? Nisi doloribus illum quasi nam tempore nesciunt aut velit distinctio at, molestiae vero perspiciatis aliquam in accusamus, architecto beatae vitae adipisci nihil doloremque dolores ipsum ut. Sit animi accusantium sequi, corrupti ipsum placeat iste sunt aliquid minima facilis. Quae, asperiores natus. Optio quasi officia a laborum dolorem, molestias numquam voluptates, fugit assumenda doloremque unde iusto maiores dicta rem expedita, sit nisi! Quia officiis officia nostrum corrupti. Voluptate, soluta debitis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis officia distinctio vitae a dolorem, quo facere dolores voluptate repellendus fugit modi maiores sit cumque, doloribus excepturi enim non adipisci laudantium qui similique fugiat, magni sapiente laboriosam? Sapiente sint nam excepturi sed quisquam reprehenderit? Soluta hic rerum aliquid, architecto non cum doloremque recusandae impedit, ea consequuntur, libero odio repellendus voluptates. Beatae unde nobis nulla. Eaque asperiores magni similique nemo consequuntur dolor nobis quia. Eveniet quisquam inventore omnis porro voluptatem esse nobis autem quidem cumque dolores cum iste cupiditate expedita quaerat sunt dignissimos nisi quas unde, distinctio labore? Deleniti maxime laudantium quis beatae. Sequi illo blanditiis magni, quas eligendi exercitationem expedita sit eum ullam architecto animi placeat voluptas quo dignissimos omnis quidem, a minus error quos optio! Placeat vel quas voluptatem dolorem impedit necessitatibus distinctio, ab maiores illum laboriosam labore doloribus non laudantium magni minima explicabo perspiciatis corporis, earum rem magnam quia! Saepe impedit at aliquam architecto quae animi modi quam quod odio cum. Quia neque ad odit suscipit, autem corrupti. Voluptatem corrupti facilis officiis facere fuga culpa deserunt, dolores sed labore, possimus consectetur nulla quo necessitatibus illo magni beatae veritatis laudantium consequatur praesentium maxime tempora, atque velit. Saepe, maxime nostrum!
<hr>
</body>
</html>